/*background style */

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


.body-bg {
    background-image: url('../images/background-texture-mramor.jpg');
    background-size: cover;
}

.container {
    border: 1px solid #4b4b4b;
    box-shadow: 1px 1px 10px #000;
}

/* basic style for both columns */

h1, h2, h3  {
    font-family: 'IBM Plex Serif', serif;
}

/* style for the left column */

.cv-left {
    background: #6e777c;
    color: #fff;
    min-height: 30vh;
}

.photo-block {
    margin-top: 50px;
}

.cv-left ul.contacts-block {
    list-style-type: none;
    padding-left: 0;
}

.cv-left .address {
    font-style: italic;
}

.cv-left a {
    color: #fff;
}

.cv-left a:hover {
    text-decoration: none;
}

.cv-left ul {
    line-height: 175%;
    padding-left: 30px;
}

#mini-project {
    margin-left: 20px;
}

#mini-project > a {
    text-decoration: underline;
}

/*style for the right column */

.cv-right {
    background: #fff;
    min-height: 30vh;
    color: #131313;
}

article {
    margin-top: 75px;
    font-family: 'IBM Plex Serif', serif;
} 

.color-grey {
    color: #4b4b4b;
}

h3 {
    margin-left: 40px;
}

.italic {
    font-style: italic;
    font-size: .8rem;
    text-transform: none;
    font-family: Arial, sans-serif;
}

.company-name {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.cv-right a {
    color: #4b4b4b;
    text-decoration: underline;
}

.job-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.8rem;
    margin-left: 12px;
}

.code {
    padding-left: 20px;
}

/* footer style */

.links {
    background-color: #fff;
    color: #4b4b4b;
    padding-top: 20px;
    font-weight: bold;
}

.logo {
    background-color: #6e777c;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links hr {
    color: #6e777c;
    margin-top: 0;
    
}

.links ul {
    list-style-type: none;
}

.links a {
    color: #4b4b4b;
}

@media (max-width: 991.98px) {
    .cv-left h1, .cv-left h2, .cv-left h3, .cv-left h4 {
       font-size: 1.3rem; 
    }
    .cv-left ul {
        line-height: 150%;
        padding-left: 25px;
    }
    footer hr {
        display: none;
    }
}

@media (max-width: 767px) {
    .logo {
        background-color: #fff;
    }
}

@media (max-width: 575.98px) {
    .cv {
        margin-top: 0;
    }
    .photo-block img {
        display: block;
        max-width: 50%;
        margin: 20px auto;
    }
    footer hr {
        display: none;
    }
    .logo {
        background-color: #fff;
    }
    
}

